<div class="middle_wrapper">
    <div class='left_container'>
        <%= image_tag(@current_gravatar, size:'300x300')%>
    </div>
    <div class='right_container'>
        <%= label_tag 'First name: ' %>
        <%= @current_user.first_name %>
        <br/>
        <%= label_tag 'Last name: '%>
        <%= @current_user.last_name %>
        <br/>
        <%= label_tag 'Username: ' %>
        <%= @current_user.username %>
        <br/>
        <%= label_tag 'Description: ' %>
        <%= @current_user.description %>
    </div>
    <div class='bottom_container'>
        <% if @current_user.interests.any? %>
            <%= label_tag 'Interests:' %>
        
            <% @current_user.interests.each do |i| %>
                <!---------- computer ---------->
                <% if i.id == 1 %>
                    <%= image_tag('interest1.png', size:'100x100') %>
                <% end %>
                <!---------- Art ---------->
                <% if i.id == 2 %>
                    <%= image_tag('interest2.png', size:'100x100') %>
                <% end %>
                <!----------- Games ----------->
                <% if i.id == 3 %>
                    <%= image_tag('interest3.png', size:'100x100') %>
                <% end %>
                <!----------- Books --------->
                <% if i.id == 4 %>
                    <%= image_tag('interest4.png', size:'100x100') %>
                <% end %>
            <% end %>
        <% end %>
        <br/>
        <br/>
        <%= label_tag 'Following:' %>
        <% if @current_user.users.any? %>
            <% @current_user.users.each do |i| %>
                <%= @current_user.users.count %>
                <br/> 
                <%= i.username %>
            <% end %>
        <% end %>
    </div>
</div>

<div class="featured">
Featured Users
    <% if @featured_users.any? %>
        <% @featured_users.each do |feat| %>
            <% if @current_user == feat %>
                <% @action = 'home' %>
            <% else %>
                <% @action = 'profile' %>
            <% end %>
        <%= link_to(:controller => 'sessions', :action => @action, :viewing_profile => feat.username) do %>
                <div class="featured_passcard">
                    <div class="left_container">
                        <% if feat.gravatar == nil %>
                            <%= image_tag(@gravatars[0], size:'70x70')%>
                        <% else %>
                            <%= image_tag(@gravatars[feat.gravatar], size:'70x70')%>
                        <% end %>
                    </div>
                    <div class="right_container" style="font-size:12px; text-align:left">
                        <%= label_tag 'First name: ' %>
                        <%= feat.first_name %>
                        <br/>
                        <%= label_tag 'Last name: '%>
                        <%= feat.last_name %>
                        <br/>
                        <%= label_tag 'Username: ' %>
                        <%= feat.username %>
                        <br/>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>